body {
   font-family: serif;
   background-color: papayawhip;
}

.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.header {
   width: 404px;
   font-size: 42px;
   font-style: italic;
   font-weight: bold;
   text-align: center;
   padding: 25px 0;
   margin-bottom: 25px;
   border-radius: 4px;
   padding: 20px;
   margin: 10px 0;
   background-color: lightseagreen;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

a {
   font-size: 22px;
   text-align: center;
   color: black;
   text-decoration: none;
   background-color: lightsalmon;
   border: 2px solid lightsalmon;
   min-width: 400px;
   border-radius: 4px;
   padding: 20px;
   margin: 10px 0;
   text-align: center;
}

a:hover {
   background-color: mistyrose;
   border: 2px solid lightsalmon;
}