body {
   background-color: lightgray;
   font-family: "Roboto", sans-serif;
}

.scoreboard {
   height: 120px;
   padding: 20px;
   background-color: gray;
   margin: 50px 200px;
   padding-bottom: 40px;
   border: 2px black solid;
}

.score-title {
   text-align: center;
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 10px;
}

.score-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 110px;
}

.score-human,
.score-computer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100px;
   gap: 5px;
}

.score-human-number,
.score-computer-number {
   height: 50px;
   width: 50px;
   border: 4px black solid;
   font-size: 46px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: whitesmoke;
}

.score-human-label,
.score-computer-label {
   text-align: center;
   font-size: 24px;
}

.play-area {
   display: flex;
   gap: 130px;
   justify-content: center;
   align-content: center;
   background-color: gray;
   margin: 50px 200px;
   padding: 20px 0;
   border: 2px black solid;
}

.human-play,
.computer-play {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.card {
   height: 75px;
   width: 75px;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px black solid;
}

.human-play .card:hover {
   background-color: lightblue;
}